html {
    background-color: beige;
}
h1,
h2, 
h3{
    font-family: 'Courier New', Courier, monospace, Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    color:black;
}

h2 {
    color: firebrick;
    text-align: center;
}

h3 {
    color: green;

}

ul,
ol {
    font-size: 18px;
    font-weight: 400;
}

.center {
    text-align: center;
}

.recipe-link {
    display: block;
    text-align: center;
}

strong {
    font-size: 24px;
}

em {
    font-size: 22px;
}